.app {
  display: flex;
  align-items: center;
  background-color: #12181b;
  color: #fafafa;
  font-size: 20px;
  height: 100vh;
  padding-top: 10px;
}

.container {
  margin: 0 auto;
  max-width: 400px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  font-size: 40px;
  border: 1px groove #eeeeee;
}

.playerX {
  color: #77d970;
}

.playerO {
  color: #ff0075;
}

.button {
  background-color: #172774;
  color: #eeeeee;
  padding: 5px 10px;
  margin: 15px 0px;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.winner-msg {
  min-height: 30px;
}
